DATABASE_PASSWORD=nirma2020
DATABASE=mongodb+srv://Savani78:<PASSWORD>@cluster0-3lv0h.mongodb.net/natours?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:27017/airQualiy
NODE_ENV=development
PORT=4000
API_KEY=B5669E0F-ED53-4BA9-B23F-E88CE4B85033