 .good-color{
    #circle{
        background-color:rgba(127, 255, 212, 0.8) ;
    }
    #circle2{
        background-color: rgba(47, 221, 163, 0.7);
    }
    #circle3{
        background-color: rgba(16, 236, 163, 1);
    }
    #circle4{
        background-color: rgba(14, 185, 128, 0.5);
    }
}
.area-good{
    color: rgba(16, 236, 163, 1);
}
 .moderate-color{
    #circle{
        background-color: rgba(246, 225, 132, 0.8);
    }
    #circle2{
        background-color: rgba(221, 180, 47, 0.8);
    }
    #circle3{
        background-color: rgba(236, 196, 16, 1);
    }
    #circle4{
        background-color: rgba(185, 182, 14, 0.5);
    }
}
.area-moderate{
    color:  rgba(236, 196, 16, 1);
}
 .bad-color{
    #circle{
        background-color:rgba(255, 195, 127, 0.8) ;
    }
    #circle2{
        background-color:rgba(221, 160, 47, 0.7) ;
    }
    #circle3{
        background-color: rgba(236, 141, 16, 1);
    }
    #circle4{
        background-color: rgba(185, 111, 14, 0.5);
    }
}
.area-bad{
    color: rgba(236, 141, 16, 1);
}

 .unhealthy-color{

    #circle{
        background-color:rgba(255, 127, 127, 0.8) ;
    }
    #circle2{
        background-color: rgba(221, 47, 47, 0.7);
    }
    #circle3{
        background-color: rgba(236, 16, 16, 1);
    }
    #circle4{
        background-color: rgba(185, 14, 14, 0.5);
    }
}
.area-unhealthy{
    color:rgba(236, 16, 16, 1) ;
}

 .dangerous-color{
    #circle{
        background-color:rgba(251, 127, 255, 0.8) ;
    }
    #circle2{
        background-color:rgba(215, 47, 221, 0.7) ;
    }
    #circle3{
        background-color: rgba(187, 6, 133, 1);
    }
    #circle4{
        background-color: rgba(122, 6, 107, 0.5);
    }
}
.area-dangerous{
    color:rgba(187, 6, 133, 1) ;
}
 .hazardous-color{
    #circle{
        background-color:rgba(87, 42, 88, 0.8) ;
    }
    #circle2{
        background-color:rgba(79, 17, 82, 0.7) ;
    }
    #circle3{
        background-color: rgba(98, 4, 70, 1);
    }
    #circle4{
        background-color:rgba(70, 5, 61, 0.5) ;
    }
}
.area-hazardous{
    color:rgba(98, 4, 70, 1) ;
}
